body {
    background-color: rgb(228, 228, 228);
    
}

header{
    background-color: rgb(62, 107, 116);
    display: flexbox;
    
}

.info{
    text-align: right;
    color: aliceblue;
    

}
#intre{
    text-align:left;
    color: rgb(68, 68, 68);
    box-shadow: 50px;
}
